<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Noticias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let articulo of gestionArticulos.getArticulos()">
    <!--Elemento ion-card-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{articulo.source.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{articulo.title}}
      </ion-card-content>
      <!--Se usa un boton en vez de un check-box-->
      <ion-button (click)="onClick(articulo)">Añadir</ion-button>
    </ion-card>
  </ion-list>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
