<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leer noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let articulo of gestionArticulos.getArticulosLeer()">
    <!--Elemento ion-card-->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{articulo.source.name}}</ion-card-subtitle>
        <ion-card-title>{{articulo.title}}</ion-card-title>
      </ion-card-header>
      <ion-img src={{articulo.urlToImage}}></ion-img>
      <ion-card-content>
          <p>{{articulo.description}}</p>
        <ion-item>
          <ion-icon slot="end" size="large" name="trash" (click)="borrar(articulo)"></ion-icon>
          <ion-label><a href={{articulo.url}}>Leer</a></ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
